<!Doctype html>
<html lang="en">
<head>
<link type="text/css" href="{{url_for("static",filename='css/style.css')}}" ref=stylesheet />
{% block title -%}
{% if title%}
<title>Прос Flask</title>
{%else%}
<title>Прос Flask</title>
{% endif%}
{% endblock %}
</head>
<body>
{%block content -%}
   {%-block mainmenu-%}
<ul>
   {%for m in menu -%}
<li>{{m}}</li>
   {%endfor -%}
</ul>

{% endblock mainmenu -%}
{% if title -%}

<h1>{{title}}</h1>
{% else -%}
<h1>Про Flask</h1>
{% endif -%}
{% endblock -%}
</body>
</html>
