{% comment %} <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
   
</body>
</html> {% endcomment %}


{% block content %}
{{ super() }}
<form action="/contact" method='post' class ="form-contact">
<p><label>Имя: </label><input type="text" name="username" value="" requied>
<p><label>Email: </label><input type="text" name="email" value="" requied>   
<p><input type="submit"  value="отправить">
</form>
{% endblock %}      