

{% extends 'base.html' %}

{%block content%}
  <form action="/reg" method="post">
    <p><label>Имя: </label><input type='text' name="username" value="" requied />
    <p><label>email: </label><input type='text' name="email" value="" requied />
    <p><label>Message: </label>  
    <p><textarea name="message" rows=7 cols=40></textarea>
    <p><input type='submit'  value="send"/>
  <form/>  
{% endblock %}  
