* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
   background-color: black;
}


.form-title {
   color: rgb(33, 251, 116);
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
}

input {
   font-size: 14px;
   line-height: 16px;
   height: 45px;
   width: 100%;
   border-radius: 5px;
   border: 2px solid gray;
   padding: 14px 0px 14px 25px;
   color: red;

}
input:focus{
   outline: none;
   
}

.register-form-container {
   position: relative;
   
   background-color: rgb(191, 117, 27);
   box-shadow: 0px 6px 50px rgb(217, 229, 255, 0.7);
   border-radius: 8px;
   max-width: 415px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 38px;
   padding-bottom: 38px;

}

.form-field {
   margin-bottom: 14px;
}

.button {
   width: 100%;
   display: block;
   height: 35px;
   background: blue;
   border-radius: 5px;
   color: #FFFFFFFF;
   text-transform: uppercase;
   cursor: pointer;
}

.button:hover{
   background-color: red;
   
}

.circle{
   position: absolute;
   width: 500px;
   height: 500px;
   background-color: rgb(255, 255, 252);
   border-radius: 50%;
   box-shadow: 0px 4px 70px 6px rgb(217, 229, 255, 0.7);
}

main{
   background: black;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}