<!DOCTYPE html> 
<html lang="en"> 
<head> 
   <meta charset="UTF-8"> 
   <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>Document</title> 
</head> 
<body> 
   Your data has been added successfuly! Hello {{data.lname}} {{data.fname}}! 
</body> 
</html>